{% extends 'Main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %} 
        <input type="text" placeholder="Enter Username" name="username">
        <input type="password" placeholder="Enter password" name="password">
        <input type="submit" value="Login"/>
    </form>
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">SignUp</a>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">LogIn</a>
</div>
{% endif %}

{% endblock content %}